
VetApp/.vs/ProjectEvaluation/vetapp.metadata.v5.2
VetApp/.vs/ProjectEvaluation/vetapp.metadata.v5.2
VetApp/.vs/ProjectEvaluation/vetapp.projects.v5.2
VetApp/.vs/VetApp/DesignTimeBuild/.dtbcache.v2
VetApp/.vs/VetApp/v17/.futdcache.v2
VetApp/.vs/VetApp/v17/.suo
VetApp/VetApp/.vs/ProjectEvaluation/vetapp.metadata.v5.2
VetApp/VetApp/.vs/ProjectEvaluation/vetapp.metadata.v5.2
VetApp/VetApp/.vs/ProjectEvaluation/vetapp.projects.v5.2
VetApp/VetApp/.vs/ProjectEvaluation/vetapp.metadata.v5.2
VetApp/VetApp/.vs/VetApp/DesignTimeBuild/.dtbcache.v2
VetApp/VetApp/.vs/VetApp/v17/.futdcache.v2
VetApp/VetApp/.vs/VetApp/v17/.suo
VetApp/VetApp/.vs/VetApp/v17/fileList.bin
VetApp/VetApp/VetApp/bin/Debug/net6.0/VetApp.dll
VetApp/VetApp/VetApp/bin/Debug/net6.0/VetApp.pdb
VetApp/VetApp/VetApp/bin/Debug/net6.0/VetApp.staticwebassets.runtime.json
VetApp/VetApp/VetApp/obj/Debug/net6.0/ref/VetApp.dll
VetApp/VetApp/VetApp/obj/Debug/net6.0/refint/VetApp.dll
VetApp/VetApp/VetApp/obj/Debug/net6.0/staticwebassets.build.json
VetApp/VetApp/VetApp/obj/Debug/net6.0/staticwebassets.development.json
VetApp/VetApp/VetApp/obj/Debug/net6.0/staticwebassets.pack.json
VetApp/VetApp/VetApp/obj/Debug/net6.0/staticwebassets/msbuild.VetApp.Microsoft.AspNetCore.StaticWebAssets.props
VetApp/VetApp/VetApp/obj/Debug/net6.0/VetApp.dll
VetApp/VetApp/VetApp/obj/Debug/net6.0/VetApp.pdb
VetAppApi/.vs/ProjectEvaluation/vetappapi.metadata.v5.2
VetAppApi/.vs/ProjectEvaluation/vetappapi.projects.v5.2
VetAppApi/.vs/VetAppApi/DesignTimeBuild/.dtbcache.v2
VetAppApi/.vs/VetAppApi/FileContentIndex/0a40b4c1-1665-40d1-813d-5198e6fefb5d.vsidx
VetAppApi/.vs/VetAppApi/FileContentIndex/16bb7362-4dab-4619-abd7-6315eb723915.vsidx
VetAppApi/.vs/VetAppApi/FileContentIndex/412ffbc4-98f3-442e-9368-c6d8f18d8645.vsidx
VetAppApi/.vs/VetAppApi/FileContentIndex/58457aba-946b-446d-a5f6-af075d60ddb9.vsidx
VetAppApi/.vs/VetAppApi/FileContentIndex/69622e98-1bd6-4edb-ba6e-ed1214cbabfc.vsidx
VetAppApi/.vs/VetAppApi/FileContentIndex/8841fd44-7795-41ee-aca5-f8af5b720c06.vsidx
VetAppApi/.vs/VetAppApi/FileContentIndex/bf8d909a-e8a2-4364-9d58-c39fb3577bb8.vsidx
VetAppApi/.vs/VetAppApi/FileContentIndex/c2eb6a8c-0d7c-4165-98b7-ab6782d54b56.vsidx
VetAppApi/.vs/VetAppApi/FileContentIndex/d378e9b6-fd15-4430-bbe8-efea637e06f3.vsidx
VetAppApi/.vs/VetAppApi/v17/.futdcache.v2
VetAppApi/.vs/VetAppApi/v17/.suo
VetApp/VetApp/VetApp/bin/Debug/net6.0/VetApp.staticwebassets.runtime.json
*.vsidx
