@model VetApp.Entities.UserObj
@{
    Layout = "_LayoutAutentificacion";
}

<div class="account-pages my-5">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="text-center">
                    <a href="index.html">
                        <img src="assets/images/logo-dark.png" alt="" height="22" class="mx-auto">
                    </a>
                    <p class="text-muted mt-2 mb-4"></p>

                </div>
                <div class="card">
                    <div class="card-body p-4">

                        <div class="text-center mb-4">
                            <h4 class="text-uppercase mt-0">Inicio de Sesión</h4>
                        </div>

                        <form asp-action="Index" method="post" asp-controller="Home">
                            <div class="mb-3">
                                <label for="emailaddress" class="form-label">Nombre de Usuario</label>
                                <input asp-for="UserNickName" id="nickName" class="form-control" placeholder="Nombre de Usuario" required />
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña</label>
                                <input asp-for="UserPassword" class="form-control" placeholder="Contraseña" type="password" id="password" nblur="validarCampos()" required />
                                <label class="form-label" style="color:red;">@ViewBag.MsjError</label>
                            </div>
                            
                            <div class="mb-3 d-grid text-center">
                                <button type="submit" class="btn btn-primary" id="login-button">Iniciar sesión</button>
                            </div>
                            <div class="mb-3 d-grid text-center">
                                <a class="btn btn-link" href="@Url.Action("RequestNewPasswordEmailSend","Home")">¿Restablecer contraseña?</a>
                            </div>

                        </form>

                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->
                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>


<!-- end page -->