@{
	ViewData["Title"] = "RequestNewPasswordEmailSend";
	Layout = "~/Views/Shared/_LayoutAutentificacion.cshtml";
}

<div class="account-pages my-5">
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-md-8 col-lg-6 col-xl-4">
				<div class="text-center">
					<a href="index.html">
						@* <img src="assets/images/logo-dark.png" alt="" height="22" class="mx-auto"> *@
					</a>
					<p class="text-muted mt-2 mb-4"></p>

				</div>
				<div class="card">
					<div class="card-body p-4">

						<div class="text-center mb-4">
							<h4 class="text-uppercase mt-0">Solicitud de restablecimiento de contraseña</h4>
						</div>
						<div class="mb-3">
							<label class="form-label">Correo</label>
							<input type="email" class="form-control" id="userMail" placeholder="Ingrese su correo electrónico" onblur="ValidateUserMailExist();">
							<label id="userMailMessage" class="form-label" style="color:red;"></label>
						</div>
						<div class="mb-3 d-grid text-center">
							<button type="button" id="btnSendRequest" class="btn btn-primary waves-effect waves-light" onclick="RequestNewPasswordEmailSend();">Enviar solicitud</button>
						</div>
						<div class="mb-3 d-grid text-center">
							<a class="btn btn-link" href="@Url.Action("Index","Home")">Volver al inicio de sesón</a>
						</div>

					</div> <!-- end card-body -->
				</div>
				<!-- end card -->
				<!-- end row -->

			</div> <!-- end col -->
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</div>


<!-- end page -->
<script src="~/libs/jquery/jquery.min.js"></script>
<script src="~/libs/jquery.counterup/jquery.counterup.min.js"></script>

<script charset="utf-8" src="~/js/AuthLogin/RequestNewPassword.js"></script>