@model VetApp.Entities.PetObj

<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Crear Mascota</h4>
                            <form method="post" action="/Pet/CreatePet">
                                <div class="mb-3">
                                    <label for="petName" class="form-label">Nombre de la Mascota</label>
                                    <input type="text" class="form-control" id="petName" name="petName" placeholder="Nombre de la Mascota">
                                </div>
                                <div class="mb-3">
                                    <label for="petSpecies" class="form-label">Especie de la Mascota</label>
                                    <input type="text" class="form-control" id="petSpecies" name="petSpecies" placeholder="Especie de la Mascota">
                                </div>
                                <div class="mb-3">
                                    <label for="petOwner" class="form-label">Cédula del Dueño</label>
                                    <input type="text" class="form-control" id="petOwner" name="petOwner" placeholder="Cédula del Dueño">
                                </div>
                                <button style="margin-left: 80px;" type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#custom-modal"><a class="btn btn-primary" href="Pet.cshtml" role="button">Crear Mascota</a></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

