
<div style="margin-left: 420px;">
    <div class="content-page">
        <div class="content">
            <!-- Start Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <br>
                        <br>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <h4 style="margin-left: 91px;" class="mb-3 header-title">Mascotas</h4>
                                <form>
                                    <br>
                                    <div class="mb-2">
                                        <label for="exampleInputNombre" class="form-label">Nombre de Mascota</label>
                                        <input type="text" class="form-control" id="exampleInputNombre" value="Nombre de la Mascota">
                                    </div>
                                    <div class="mb-2">
                                        <label for="exampleInputEspecie" class="form-label">Especie</label>
                                        <input type="text" class="form-control" id="exampleInputEspecie" value="Especie de la Mascota">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputNombreDueno" class="form-label">Nombre del Dueño</label>
                                        <input type="text" class="form-control" id="exampleInputNombreDueno" value="Nombre del Dueño">
                                    </div>

                                    <button style="margin-left: 80px;" type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#custom-modal"><a class="btn btn-primary" href=@Url.Action("Pet","Pet") role="button">Editar Mascota</a></button>
                                </form>
                            </div> <!-- end card-body -->
                        </div> <!-- end card -->
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div> <!-- end container-fluid -->
        </div>
    </div>
</div>
