<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->
<div style="margin-left: 420px;">
    <div class="content-page">
        <div class="content">
            <!-- Start Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <br>
                        <br>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <h4 style="margin-left: 98px;" class="mb-3 header-title">Formulario Inventario</h4>
                                <form>
                                    <br>
                                    <div class="mb-2">
                                        <label for="exampleInputNombre" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" id="exampleInputNombre" placeholder="Nombre del Insumo">
                                    </div>
                                    <div class="mb-2">
                                        <label for="exampleInputApellido" class="form-label">Proveedor</label>
                                        <input type="text" class="form-control" id="exampleInputApellido" placeholder="Nombre del Proveedor">
                                    </div>


                                    <button style="margin-left: 90px;" type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#custom-modal"><a class="btn btn-primary" href="Inventario.html" role="button">Agregar Inventario</a></button>
                                </form>
                            </div> <!-- end card-body -->
                        </div> <!-- end card -->
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div> <!-- end container-fluid -->
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->