
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Veterinaria San Martín de Porras</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- App css -->

    <link href="~/css/app.min.css" rel="stylesheet" type="text/css" id="app-style" />

    <!-- icons -->
    <link href="~/css/icons.min.css" rel="stylesheet" type="text/css" />

</head>

<body style="background-image: url(https://papelmatic.com/wp-content/uploads/2019/09/papelmatic-higiene-profesional-limpieza-desinfeccion-clinicas-veterinarias.jpg);
background-position: center;
    background-size: cover;
background-repeat: no-repeat;">

    @RenderBody()
    <!-- Vendor -->
    <script src="~/libs/jquery/jquery.min.js"></script>
    <script src="~/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/libs/simplebar/simplebar.min.js"></script>
    <script src="~/libs/node-waves/waves.min.js"></script>
    <script src="~/libs/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/libs/jquery.counterup/jquery.counterup.min.js"></script>
    <script src="~/libs/feather-icons/feather.min.js"></script>

    <!-- App js -->
    <script src="~/js/app.min.js"></script>
    <script src="~/js/AuthLogin/Login.js"></script>

</body>
</html>