
<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->
<div style="margin-left: 420px;">
    <div class="content-page">
        <div class="content">
            <!-- Start Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <br>
                        <br>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <h4 style="margin-left: 91px;" class="mb-3 header-title">Formulario Empleados</h4>
                                <form>
                                    <br>
                                    <div class="mb-2">
                                        <label for="exampleInputNombre" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" id="exampleInputNombre" value="Johnathan">
                                    </div>
                                    <div class="mb-2">
                                        <label for="exampleInputApellido" class="form-label">Primer Apellido</label>
                                        <input type="text" class="form-control" id="exampleInputApellido" value="Deo">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputEspecie" class="form-label">Segundo Apellido</label>
                                        <input type="text" class="form-control" id="exampleInputEspecie" value="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputCedulaDueño" class="form-label">Cédula</label>
                                        <input type="text" class="form-control" id="exampleInputCedulaDueño" value="(123) 123 1234">
                                    </div>
                                    <div class="mb-2">
                                        <label for="exampleInputNombreMascota" class="form-label">Número Telefónico</label>
                                        <input type="text" class="form-control" id="exampleInputNombreMascota" value="11111111">
                                    </div>
                                    <div class="mb-2">
                                        <label for="exampleInputOtroNombreMascota" class="form-label">Correo Electronico</label>
                                        <input type="text" class="form-control" id="exampleInputOtroNombreMascota" value="coderthemes@gmail.com">
                                    </div>
                                    <div class="mb-2">
                                        <label for="inputState" class="form-label">Rol</label>
                                        <select id="inputState" class="form-select">
                                            <option>IT</option>
                                            <option>Recepcionista</option>
                                            <option>Insumos</option>
                                        </select>
                                    </div> <!-- end col -->
                                    <div class="mb-2">

                                        <h4 class="header-title">Foto del Empleado</h4>

                                        <input type="file" data-plugins="dropify" data-height="100" />

                                    </div>
                                    <button style="margin-left: 80px;" type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#custom-modal"><a class="btn btn-primary" href=@Url.Action("Empleado","Administracion") role="button">Editar Perfíl</a></button>
                                </form>
                            </div> <!-- end card-body -->
                        </div> <!-- end card -->
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div> <!-- end container-fluid -->
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->

