@{
	ViewData["Title"] = "UpdateUserPassword";
	Layout = "~/Views/Shared/_LayoutAutentificacion.cshtml";
}

<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="account-pages my-5">
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-md-8 col-lg-6 col-xl-4">
				<div class="text-center">
					<a href="index.html">
						<img src="assets/images/logo-dark.png" alt="" height="22" class="mx-auto">
					</a>
					<p class="text-muted mt-2 mb-4"></p>

				</div>
				<div class="card">
					<div class="card-body p-4">
						<div class="text-center mb-4">
							<h4 class="text-uppercase mt-0">Cambio de contraseña</h4>
						</div>
						<div class="mb-3">
							<input type="hidden" id="userMail" name="userMail" value="@ViewBag.Email" />
							<label class="form-label">Contraseña</label>
							<input type="password" class="form-control" id="userPassword" placeholder="Nueva contraseña" oninput="validatePassword();">
							<label id="userPasswordMessage" class="form-label" style="color:red;"></label>
						</div>
						<div class="mb-3">
							<label class="form-label">Confirmar contraseña</label>
							<input type="password" class="form-control" id="confirmPassword" placeholder="Confirmar contraseña" oninput="validatePassword();">
							<label id="confirmPasswordMessage" class="form-label" style="color:red;"></label>
						</div>
						<div class="mb-3 d-grid text-center">
							<button type="button" class="btn btn-primary waves-effect waves-light" onclick="UpdateUserPassword();">Cambiar contraseña</button>
						</div>
						<div class="mb-3 d-grid text-center">
							<a class="btn btn-link" href="@Url.Action("Planilla","Planilla")">Volver a inicio</a>
						</div>

					</div> <!-- end card-body -->
				</div>
				<!-- end card -->
				<!-- end row -->

			</div> <!-- end col -->
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->
<script src="~/libs/jquery/jquery.min.js"></script>
<script src="~/libs/jquery.counterup/jquery.counterup.min.js"></script>

<script charset="utf-8" src="~/js/Administration/UpdateUserPassword.js"></script>